[global]
   workgroup = WORKGROUP
   server string = Samba Server
   security = user
   map to guest = Bad User
   dns proxy = no
   log file = /var/log/samba/log.%m
   max log size = 50

[{{ samba_share_name }}]
   path = {{ samba_share_path }}
   writable = yes
   browsable = yes
   guest ok = no
   valid users = {{ samba_user }}
   create mask = 0664
   directory mask = 0775
