[checkmk]
{{ container_map['checkmk'].ip }} ansible_user=ubuntu

[slurm]
{{ container_map['slurm'].ip }} ansible_user=ubuntu

[samba]
{{ container_map['samba'].ip }} ansible_user=ubuntu

[slurm_controller]
slurm-ctrl ansible_host=10.0.3.110 ansible_user=ubuntu

[slurm_nodes]
slurm-node1 ansible_host=10.0.3.111 ansible_user=ubuntu
slurm-node2 ansible_host=10.0.3.112 ansible_user=ubuntu


[all_slurm_nodes:children]
slurm_controller
slurm_nodes

[all:vars]
ansible_python_interpreter=/usr/bin/python3